.icon-container {
	display: inline-block;
	width: 140px;
	height: 140px;
	background: #e1f3e1;
	border-radius: 30px;
	position: relative;
	padding-left: 20px;
}

.icon-container .material-icons {
	display: block;
	font-size: 80px;
	color: rgb(84,209,84);
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translate(-50%, 50%);
}

.img-box-round {
	display: inline-block;
	border-radius: 100%;
	overflow: hidden;
}

.img-box-label:before {
	content: '';
	display: block;
	width: 50%;
	height: 60px;
	border: 2px solid rgb(32, 123, 32);
}