@import url('reset.css');
@import url('grid.css');
@import url('buttons.css');
@import url('icons.css');
@import url('typography.css');
@import url('menu.css');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 1px;
	padding: 2px;
	color: rgb(120, 120, 120);
	font-size: 18px;
	line-height: 25px;
}

#header .btn {
	background-color: rgb(84,209,84);
	font-size: 16px;
	border-radius: 30px;
	padding: 10px 30px;
}

#header .btn:hover {
	background-color: rgb(84,209,84);
}

#header a {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px;
}

#header a:hover, #header a.active {
	background-color: rgba(87,219,87, 0.8);
	vertical-align: middle;
	padding: 10px 20px 10px 20px; 
}

#header a.active:hover {
	background-color: rgb(235, 235, 235);
	color: rgb(5,250,4);
}

#header h1 {
	font-size: 54px;
	line-height: 60px;
}

#header {
	background: #000 no-repeat fixed center;
	background-size: cover;
	color: #ffffff;
	width: 100%;
	height: 660px;
	position: relative;
	padding-top: 20px;
}

/*Vou colocar a Nav do Header toda na direita da pag*/
#header nav {
	text-align: right;
}

/*#header nav, #header nav ul { - vou mudar o nav DENTRO do Header; e a ul dentro de nav que ta dentro de header
	a maior diferença entre Display Block e Inline é: Block (um embaixo do outro); Inline (em linha, lado a lado)*/
#header nav ul, #header nav ul li { 
	display: inline-block; 
	margin: 0;
	padding: 0;
}

/*Mudarei o texto em h1 ("Alta Produtividade")
Com essas caracteristicas, independente do tamanho da janela, ele irá centralizar o conteúdo;*/
#header .title {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
}

.section {
	padding: 30px 0 30px 0;
}

.section-center {
	text-align: center;
}

#customer {
	background-color: rgb(242, 242, 242);
}

#customer .btn {
	margin-top: 80px;
	background-color: rgb(35, 295, 95);
	color: rgb(250,250,250);
}

#customer .btn:hover {
	background-color: rgb(225,225,225);
	color: rgb(0, 255, 0);
}

#customer .btn .material-icons {
	vertical-align: middle;
	font-size: 18px;
}

#customer .container {
	max-width: 1100px;
}

#team {
	background-color: rgb(83, 210, 83);
	color: rgb(255,255,255);
}

#team h2:after {
	background-color: rgb(255,255,255);
}

#team .img-box-round {
	width: 120px;
	height: 120px;
}

#footer {
	background-color: rgb(50,50,50);
	text-align: left;
}

#footer, #footer a {
	color: rgb(204, 204, 204);
}

#footer h3, #footer nav {
	text-transform: uppercase;
}

#footer nav li {
	padding: 3px 0;
}

#footer nav li a:hover {
	color: rgb(255, 255, 255);
}

#footer .social {
	height: 200px;
	line-height: 200px;
	text-align: right;
}

#footer .social a {
	display: inline-block;
	padding: 0 0 0 10px;
	opacity: 1;
	transition: ease .5s all;
}

#footer .social a:hover {
	opacity: 0.3;
}

#footer .social img {
	vertical-align: middle;
	padding: 0 0 0 10px;
}

#copyright {
	text-align: center;
	background-color: rgb(34, 34, 34)
	padding: 10px;
}

@media (max-width: 992px){
	#header, #header nav {
		text-align: center;
	}
}